{% trans_default_domain "form" %}
{% extends "archon/module_page.twig" %}
{% form_theme form _self %}
{% set plugin = form.vars.value %}

{#TODO move in form theme template#}
{% block form_label %}
	{% set label = name|humanize %}
	<div class = "label">
		<label>{{ label }}</label>
	</div>
{% endblock %}
{% block text_widget %}
	<div class = "text-widget-container">
		<input id = "{{ id }}"
			   {% if value != null %}value = "{{ value }}"{% endif %}
		  {{ block("widget_attributes") }}>
		{#{{- block("text_widget") -}}#}
	</div>
{% endblock %}


{% block page_title %}
	{% if plugin.name != "" %}
		{{ plugin.name }}
	{% else %}
		{% trans %}plugin.new_title{% endtrans %}
	{% endif %}
{% endblock %}
{% block return_link %}
	{{ path("getAllPlugins") }}
{% endblock %}

{% block module_content %}
	{% set removeCssTemplate = '<a class = "removeCss"
		   data-id = "__name__"
		   href = "#">Elimina{#TODO trans#}</a>' %}
	{% set removeJsTemplate = '<a class = "removeJs"
		   data-id = "__name__"
		   href = "#">Elimina{#TODO trans#}</a>' %}

	<div class = "removeCssTemplate template">
		{{ removeCssTemplate|raw }}
	</div>
	<div class = "removeJsTemplate template">
		{{ removeJsTemplate|raw }}
	</div>
	{{ form_start(form) }}
	{{ form_row(form.id) }}
	{{ form_row(form.name) }}

	<p>{{ form_label(form.css) }}</p>
	<p><a id = "addCss"
		  href = "#">Aggiungi un nuovo css{#TODO trans#}</a></p>
	<ul id = "cssList"
		data-prototype = "{{ form_widget(form.css.vars.prototype)|e }}">
		{% for css in form.css %}
			<li>
				{{ form_widget(css) }}
				{{ removeCssTemplate|raw }}
			</li>
		{% endfor %}
	</ul>

	<p>{{ form_label(form.js) }}</p>
	<p><a id = "addJs"
		  href = "#">Aggiungi un nuovo js{#TODO trans#}</a></p>
	<ul id = "jsList"
		data-prototype = "{{ form_widget(form.js.vars.prototype)|e }}">
		{% for i in form.js|keys %}
			<li>
				{{ form_widget(form.js[i]) }}
				{{ removeJsTemplate|raw }}
			</li>
		{% endfor %}
	</ul>

	{{ form_label(form.dependencies) }}
	{{ form_widget(form.dependencies) }}

	{{ form_row(form.submit) }}
	{{ form_row(form._token) }}
	{{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block js %}
	<script>
		var cssCount = {{ form.css|length }};
		var jsCount  = {{ form.js|length }};
		$(document).ready(function() {
			$("#addCss").click(function() {
				var cssList         = $("#cssList");
				var html            = cssList.data("prototype");
				var removalTemplate = $(".removeCssTemplate").html();
				html += removalTemplate;
				html                = html.replace(/__name__/g, cssCount);
				cssList.append("<li>" + html + "</li>");
				cssCount++;
			});
			$("form").on("click", ".removeCss", function() {
				$(this).parent("li").remove();
			});
			$("#addJs").click(function() {
				var jsList          = $("#jsList");
				var html            = jsList.data("prototype");
				var removalTemplate = $(".removeJsTemplate").html();
				html += removalTemplate;
				html                = html.replace(/__name__/g, jsCount);
				jsList.append("<li>" + html + "</li>");
				jsCount++;
			});
			$("form").on("click", ".removeJs", function() {
				$(this).parent("li").remove();
			});

			// Prevents redirect
			$("#plugin_submit").click(function() {
				var form = $("form[name='plugin']");
				$.ajax({
					url: form.attr("action"),
					type: form.attr("method"),
					data: form.serialize(),
					complete: function(xhr) {
						if(xhr.status == 200) {
							$(".page-title").text($("#plugin_name").val());
							toastr.success(xhr.responseText);
						}
						else if(xhr.status == 301) window.location.href = xhr.responseText;
						else if(xhr.status == 500) toastr.error("È avvenuto un errore");//TODO trans
						else toastr.error(xhr.responseText);
					}
				});
			});
		});
	</script>

{% endblock %}