{% extends "archon/base.twig" %}
{% block content %}
	<div class = "sub-header">
		<span class = "page-title">{% trans %}admin.plugin.title{% endtrans %}</span>
	</div>
	<div class = "table fullpage dynamic clickable">
		<table>
			<thead>
				<tr>
					<th>{% trans %}admin.plugin.name{% endtrans %}</th>
					<th>{% trans %}admin.plugin.file_count{% endtrans %}</th>
					<th>{% trans %}misc.delete{% endtrans %}</th>
				</tr>
			</thead>
		</table>
		<table>
			{% for plugin in plugins %}
				<tr>
					<td><a href = "{{ path("editPlugin", {"id": plugin.id}) }}">{{ plugin.name }}</a></td>
					<td class = "r-align">{{ plugin.css|length + plugin.js|length }} ({{ plugin.css|length }} css, {{ plugin.js|length }} js)</td>
					<td class = "delete">
						<a href = "#"
						   data-id = "{{ plugin.id }}">Elimina{#TODO trans#}</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
{% block js %}
	<script src = "{{ asset("js/plugins/list.min.js") }}"></script>
{% endblock %}