<html>
<head>
	<link rel = "stylesheet"
		  type = "text/css"
		  href = "{{ asset("lib/toastr/toastr.min.css") }}">
	<link rel = "stylesheet"
		  type = "text/css"
		  href = "{{ asset("css/base.min.css") }}">
	{% block css %}{% endblock %}
</head>
<body>
<div class = "page">
	<div class = "loading-panel"></div>
	{% block content %}{% endblock %}
</div>
</body>
<script src = "{{ asset("lib/jquery/jquery.3.1.0.js") }}"></script>
<script src = "{{ asset("lib/toastr/toastr.min.js") }}"></script>
<script src = "{{ asset("js/base.min.js") }}"></script>
<script>
	//TODO stabilisci dinamicamente il locale
	var appLocale = "it";
</script>
{% block js %}{% endblock %}
</html>