{% extends "archon/base.twig" %}
{% block content %}
	<div class = "sub-header">
		<div class = "page-title">{% block page_title %}TITLE MISSING!{% endblock %}</div>
		<div class = "return"><a href = "{% block return_link %}{% endblock %}">Indietro{#TODO trans#}</a></div>
	</div>
	{% block module_content %}{% endblock %}
{% endblock %}