html, body {
  border:  0;
  margin:  0;
  padding: 0;
}
.loading-panel {
  background-color: white;
  height:           100vh;
  left:             0;
  position:         fixed;
  top:              0;
  width:            100vw;
  z-index:          1000;
}
.sub-header {
  margin: 30px 0;
  .page-title {
    display:     inline-block;
    font-size:   25px;
    font-weight: bold;
  }
  .return {
    float: right;
  }
}
.fullpage {
  width: 100%;
  &.table {
    table {
      border-collapse: collapse;
      border-spacing:  0;
      width:           100%;
      td, th {
        border: 1px solid black;
      }
      thead {
        tr:first-child {
          border-top-left-radius:  5px;
          border-top-right-radius: 5px;
        }
      }
      tbody {
        tr:first-child td {
          border-top: 0;
        }
        tr:last-child {
          border-bottom-left-radius:  5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}
.table.clickable {
  tbody tr:hover {
    background-color: #888888;
    cursor:           pointer;
  }
}
.r-align {
  text-align: right;
}
.template {
  display: none;
}
form {
  input {
    border:        1px solid rgba(20, 20, 20, 0.4);
    border-radius: 5px;
    padding:       10px 15px;
    width:         70%;
  }
  li {
    list-style: none;
  }
  .label {
    display: inline-block;
    width:   30%;
  }
  .text-widget-container {
    display: inline-block;
    width:   70%;
  }
}